<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f0f0f0;
            padding: 20px;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        .header {
            background-color: #007bff;
            color: #ffffff;
            text-align: center;
            padding: 10px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        .content {
            padding: 20px;
        }
        .footer {
            text-align: center;
            padding: 10px;
            background-color: #f0f0f0;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
        .button {
          background-color: #007bff; /* Green */
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          border-radius: 12px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>API Documentation Invitation</h1>
        </div>
        <div class="content">
            <h4 style="color:#007bff">Hello Team,</h4>
            <p> I am excited to invite you to view my User Management API documentation on ReDoc. You can access the documentation by clicking the button below.</p>
            <a href="{{ redoc_link }}" target="_blank">
            <button class="button"> View API Documentation </button>
            </a>
            <p>For more details you can check my code in the GitHub. Lik:<a href="{{ github_url }}" target="_blank">aviato-rbac</a> </p> </p>
            <p> I appriciate your time and look forward to your feedback. If you have any questions, feel free to reply to this email.</p>
            <p>Sincerely,<br>Parth Jasani</p>
        </div>
    </div>
</body>
</html>
